In [1]:
import pandas as pd
## os principais comandos no pandas em Python

In [8]:
# uma variável (objeto) dicionário em Python
vendas = {
    'data': ['15/10/2022', '16/10/2022'],
    'valor': [500, 300],
    'produto': ['rivotril solução', 'sertralina 50mg'],
    'quantidade': [10, 15], 
}

print(vendas)

{'data': ['15/10/2022', '16/10/2022'], 'valor': [500, 300], 'produto': ['rivotril solução', 'sertralina 50mg'], 'quantidade': [10, 15]}

In [4]:
# transformando o dicionário vendas em um DataFrame
vendas_df = pd.DataFrame(vendas)

In [5]:
display(vendas_df)

         data  valor           produto  quantidade
0  15/10/2022    500  rivotril solução          10
1  16/10/2022    300   sertralina 50mg          15