In [ ]:
import pandas as pd
## os principais comandos no pandas em Python

In [15]:
# uma variável (objeto) dicionário em Python
vendas = {
    'data': ['15/10/2022', '16/10/2022', '17/10/2022', '17/10/2022'],
    'valor': [500, 300, 200, 100 ],
    'produto': ['rivotril solução', 'sertralina 50mg', 'pristiq 50mg', 'zoloft 50mg'],
    'quantidade': [10, 15, 5, 250], 
}

print(vendas)

{'data': ['15/10/2022', '16/10/2022', '17/10/2022', '17/10/2022'], 'valor': [500, 300, 200, 100], 'produto': ['rivotril solução', 'sertralina 50mg', 'pristiq 50mg', 'zoloft 50mg'], 'quantidade': [10, 15, 5, 250]}

In [16]:
# transformando o dicionário vendas em um DataFrame
vendas_df = pd.DataFrame(vendas)

In [17]:
display(vendas_df)

         data  valor           produto  quantidade
0  15/10/2022    500  rivotril solução          10
1  16/10/2022    300   sertralina 50mg          15
2  17/10/2022    200      pristiq 50mg           5
3  17/10/2022    100       zoloft 50mg         250

In [ ]:
# selecionando um único valor do data frame
vendas_df['valor'][1] # seleciona o valor 300 da coluna valor indice 1
vendas_df['valor'][0] # seleciona o valor 500 da coluna valor indice 0

In [20]:
# podemos usar tbm o .at['indice','coluna']
vendas_df.at[0, 'produto'] # retorna rivotril solução
vendas_df.at[1, 'produto'] # retorna sertralina solução

'sertralina 50mg'