In [1]:
import pandas as pd
## os principais comandos no pandas em Python

In [8]:
# uma variável (objeto) dicionário em Python
vendas = {
    'data': ['15/10/2022', '16/10/2022'],
    'valor': [500, 300],
    'produto': ['rivotril solução', 'sertralina 50mg'],
    'quantidade': [10, 15], 
}

print(vendas)

{'data': ['15/10/2022', '16/10/2022'], 'valor': [500, 300], 'produto': ['rivotril solução', 'sertralina 50mg'], 'quantidade': [10, 15]}

In [4]:
# transformando o dicionário vendas em um DataFrame
vendas_df = pd.DataFrame(vendas)

In [5]:
display(vendas_df)

         data  valor           produto  quantidade
0  15/10/2022    500  rivotril solução          10
1  16/10/2022    300   sertralina 50mg          15

In [9]:
# Importando uma base de dados
mental_df = pd.read_csv('./CSV/Mental Illness Survey 1.csv')
display(mental_df)

,Respondent ID,Collector ID,Start Date,End Date,IP Address,Email Address,First Name,Last Name,Custom Data 1,I identify as having a mental illness,...,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Age,Gender,Household Income,Region,Device Type
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Response,...,Obsessive thinking,Mood swings,Panic attacks,Compulsive behavior,Tiredness,Response,Response,Response,Response,Response
1,6.630447e+09,168522804.0,01/15/2018 03:45:16 AM,01/15/2018 03:48:24 AM,NaN,NaN,NaN,NaN,06f645d7ea5af372d50a62bd17,No,...,Obsessive thinking,NaN,Panic attacks,NaN,NaN,30-44,Male,"$25,000-$49,999",Mountain,Android Phone / Tablet
2,6.630410e+09,168522804.0,01/15/2018 03:17:52 AM,01/15/2018 03:18:57 AM,NaN,NaN,NaN,NaN,abca2776418ff1fe24bb85e21f,Yes,...,NaN,NaN,Panic attacks,NaN,Tiredness,18-29,Male,"$50,000-$74,999",East South Central,MacOS Desktop / Laptop
3,6.630402e+09,168522804.0,01/15/2018 03:10:28 AM,01/15/2018 03:12:49 AM,NaN,NaN,NaN,NaN,3800088cf4e55278b38bbe67f3,No,...,NaN,NaN,NaN,NaN,NaN,30-44,Male,"$150,000-$174,999",Pacific,MacOS Desktop / Laptop
4,6.630335e+09,168522804.0,01/15/2018 02:11:16 AM,01/15/2018 02:12:33 AM,NaN,NaN,NaN,NaN,84585803a3cec189f89fe43d44,No,...,NaN,NaN,NaN,NaN,NaN,30-44,Male,"$25,000-$49,999",New England,Windows Desktop / Laptop
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,6.629053e+09,168522804.0,01/14/2018 03:34:38 AM,01/14/2018 03:36:44 AM,NaN,NaN,NaN,NaN,87711d94384b2bfbcd7cdbe52a,No,...,NaN,NaN,NaN,NaN,Tiredness,45-60,Female,Prefer not to answer,Mountain,Android Phone / Tablet
331,6.629052e+09,168522804.0,01/14/2018 03:34:38 AM,01/14/2018 03:36:09 AM,NaN,NaN,NaN,NaN,9e9969a3f4eb0950af94407466,No,...,NaN,NaN,NaN,NaN,NaN,18-29,Male,"$50,000-$74,999",Pacific,Windows Desktop / Laptop
332,6.629051e+09,168522804.0,01/14/2018 03:27:20 AM,01/14/2018 03:33:01 AM,NaN,NaN,NaN,NaN,558859a6e130ae0f1817fc0ac7,No,...,NaN,NaN,NaN,NaN,NaN,> 60,Female,"$10,000-$24,999",West North Central,Windows Desktop / Laptop
333,6.629051e+09,168522804.0,01/14/2018 03:29:31 AM,01/14/2018 03:32:45 AM,NaN,NaN,NaN,NaN,34d6b882e9f4ca7712b0b44541,Yes,...,Obsessive thinking,Mood swings,Panic attacks,Compulsive behavior,Tiredness,18-29,Female,"$0-$9,999",West South Central,Android Phone / Tablet
334,6.629048e+09,168522804.0,01/14/2018 03:24:06 AM,01/14/2018 03:25:10 AM,NaN,NaN,NaN,NaN,92ae8b49df33505589295166f6,Yes,...,NaN,NaN,NaN,NaN,NaN,18-29,Female,"$10,000-$24,999",Pacific,Android Phone / Tablet

In [13]:
vendas_df.describe()

            valor  quantidade
count    2.000000    2.000000
mean   400.000000   12.500000
std    141.421356    3.535534
min    300.000000   10.000000
25%    350.000000   11.250000
50%    400.000000   12.500000
75%    450.000000   13.750000
max    500.000000   15.000000

In [15]:
mental_df.shape

(335, 40)