In [1]:
import pandas as pd
## os principais comandos no pandas em Python

In [ ]:
# uma variável (objeto) dicionário em Python
vendas = {
    'data': ['15/10/2022', '16/10/2022', '17/10/2022', '17/10/2022'],
    'valor': [500, 300, 200, 100 ],
    'produto': ['rivotril solução', 'sertralina 50mg', 'pristiq 50mg', 'zoloft 50mg'],
    'quantidade': [10, 15, 5, 250], 
}

print(vendas)

In [ ]:
# transformando o dicionário vendas em um DataFrame
vendas_df = pd.DataFrame(vendas)

In [ ]:
display(vendas_df)

In [ ]:
# selecionando um único valor do data frame
vendas_df['valor'][1] # seleciona o valor 300 da coluna valor indice 1
vendas_df['valor'][0] # seleciona o valor 500 da coluna valor indice 0

In [ ]:
# podemos usar tbm o .at['indice','coluna']
vendas_df.at[0, 'produto'] # retorna rivotril solução
vendas_df.at[1, 'produto'] # retorna sertralina solução
vendas_df.at[2, 'produto'] # retorna pristiq 50mg
vendas_df.at[3, 'produto'] # retorna zoloft 50mg

In [ ]:
 # Funções loc e iloc do Python
 
 vendas_df.loc[2]

In [ ]:
vendas_df.iloc[0:2] # podemos usar o slice no iloc para selecionar linhas

In [ ]:
dados = [[1, 3, 6], [6, 7, 10], [12, 15, 16], [20, 21, 25]]
dados = pd.DataFrame(dados)
display(dados)

In [ ]:
dados[dados[0].between(4, 5)]

In [ ]:
dados[~dados[0].between(4, 5)]

In [ ]:
dados[dados.sum(axis=1) == 10] # podemos selecionar a linha cuja a soma seja igual a 10

In [ ]:
# Filtrando strings no python

In [ ]:
linguagens = { 'linguagem': ['C++', 'C#', 'JAVA', 'JavaScript', 'Python'],
              'Conhecimento': ['Básico', 'Básico', 'Naive', 'Iniciante', 'Intermediário'],
              'Estuda': ['Já estudei', 'Já estudei', 'Nunca estudei', 'Já estudei', 'Estudo']}

In [ ]:
linguagens = pd.DataFrame(linguagens)
display(linguagens)

In [ ]:
linguagens[linguagens['linguagem'] == 'Python'] # seleciona de acordo com o valor

In [ ]:
linguagens[linguagens['Estuda'].isin(['Já estudei', 'Estudo'])]

In [2]:
# Transformando uma tabela em um DataFrame
exemplo = {'Categoria':['Música/Filme/Games', 'Música/Filme/Games', 'Automotivo', 'Automotivo', 'Automotivo', 'Automotivo', 'Automotivo', 'Automotivo'],
          'Moeda':['US', 'US', 'US', 'US', 'US', 'US','US', 'US'],
          'ClassVend':[3249, 3249, 3115, 3115, 3115, 3115, 3115, 3115],
          'Duração':[5, 5, 7, 7, 7, 7, 7, 7],
          'DiaFinal':['Seg', 'Seg', 'Ter', 'Ter', 'Ter', 'Ter', 'Ter', 'Ter'],
          'PreçoFim':[0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01],
          'PreçoInicio':[0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01],
          'Competitivo?':[0, 0, 0, 0, 0, 0, 1, 1]}
exemplo

{'Categoria': ['Música/Filme/Games',
  'Música/Filme/Games',
  'Automotivo',
  'Automotivo',
  'Automotivo',
  'Automotivo',
  'Automotivo',
  'Automotivo'],
 'Moeda': ['US', 'US', 'US', 'US', 'US', 'US', 'US', 'US'],
 'ClassVend': [3249, 3249, 3115, 3115, 3115, 3115, 3115, 3115],
 'Duração': [5, 5, 7, 7, 7, 7, 7, 7],
 'DiaFinal': ['Seg', 'Seg', 'Ter', 'Ter', 'Ter', 'Ter', 'Ter', 'Ter'],
 'PreçoFim': [0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01],
 'PreçoInicio': [0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01],
 'Competitivo?': [0, 0, 0, 0, 0, 0, 1, 1]}

In [3]:
exemplo = pd.DataFrame(exemplo)
display(exemplo)

,Categoria,Moeda,ClassVend,Duração,DiaFinal,PreçoFim,PreçoInicio,Competitivo?
0,Música/Filme/Games,US,3249,5,Seg,0.01,0.01,0
1,Música/Filme/Games,US,3249,5,Seg,0.01,0.01,0
2,Automotivo,US,3115,7,Ter,0.01,0.01,0
3,Automotivo,US,3115,7,Ter,0.01,0.01,0
4,Automotivo,US,3115,7,Ter,0.01,0.01,0
5,Automotivo,US,3115,7,Ter,0.01,0.01,0
6,Automotivo,US,3115,7,Ter,0.01,0.01,1
7,Automotivo,US,3115,7,Ter,0.01,0.01,1