### Dados absolutos e Relativos

#### Dado absoluto: Contagem, sem qualquer tipo de manipulação

#### Dado relativo: Ajudam nas comparações entre as quantidades
##### 1 podemos usar porcentagem
##### 2 indices
##### 3 coeficientes
##### 4 taxas

In [1]:
import pandas as pd

In [2]:
dados = {'emprego':['Administrador de Banco de Dados', 'Programador', 'Arquiteto de Redes'],
        'nova_jersey':[97350, 82080, 112840],
        'florida':[77140, 71540, 62310]}

In [4]:
dados = pd.DataFrame(dados)
display(dados)

                           emprego  nova_jersey  florida
0  Administrador de Banco de Dados        97350    77140
1                      Programador        82080    71540
2               Arquiteto de Redes       112840    62310