### Exercícios - Atividade avaliativa

In [8]:
import pandas as pd

4. A lista de temperaturas de Mons, na Bélgica, foi armazenada na lista T = [ -10, -8, 0, 1, 2, 5, -2, -4]. Faça um programa que imprima a menor e a maior temperatura, assim como a temperatura média.

In [18]:
T = [-10, -8, 0, 1, 2, 5, -2, 4]
T = pd.DataFrame(T)

print('O valor médio é: ${T.mean()}')

O valor médio é: ${T.mean()}