# Estrutura de Dados
## Como apresentar da melhor maneira os dados em memória RAM

In [39]:
lista = [123, 15.8, "Python",'Uma linguagem dinâmica'] #aceita mais de um tipo de dado (lista built in)
lista
dicionario = {
          "Linguagem":['Python', 'Java', 'JavaScript', 'C++'],
          "Dinâmica":['Sim', 'Não', 'Não', 'Não'],
}
dicionario

{'Linguagem': ['Python', 'Java', 'JavaScript', 'C++'],
 'Dinâmica': ['Sim', 'Não', 'Não', 'Não']}

In [40]:
import pandas as pd

dicionario = pd.DataFrame(dicionario)

In [54]:
import numpy as np
import random

dates = pd.date_range('1/1/2022', periods=30)

df = pd.DataFrame(np.random.randn(30, 10),
                  index=dates, columns=['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J' ])

In [55]:
display(df)

,A,B,C,D,E,F,G,H,I,J
2022-01-01,-0.537482,0.577329,-0.735956,-1.502456,0.339337,-1.312228,0.641132,2.295719,-0.164569,-0.003600
2022-01-02,0.197874,-1.893084,-0.150117,0.365656,-0.476872,-2.197857,0.262298,0.826734,-0.409484,-0.187006
2022-01-03,-0.416983,0.830575,1.599679,-0.468632,-0.167852,-0.155915,0.626454,1.505045,-0.710797,0.739397
2022-01-04,1.658113,-1.486664,1.370776,1.309389,-0.327861,0.847932,-1.160431,0.492989,-0.240169,0.068817
2022-01-05,-0.259755,0.988931,-1.009642,-1.400042,0.572716,-1.242259,-0.947614,0.784410,0.332876,-0.821514
2022-01-06,-0.734140,0.070871,-1.364448,0.471836,-0.656414,-0.356579,-1.299871,0.116344,0.348183,-0.616533
2022-01-07,0.649863,-0.448843,-0.740140,-0.450471,0.996570,0.655276,-0.639864,0.320156,0.680787,-0.943240
2022-01-08,0.331615,-1.002275,-0.014504,1.483638,1.264000,0.466802,2.746787,-0.074585,0.520581,-0.445325
2022-01-09,-0.757981,-1.819464,-0.171906,0.195986,-0.686039,-0.013232,-1.552581,-0.434408,0.068170,-1.324091
2022-01-10,0.913892,-0.360430,1.989165,-1.122514,0.233642,0.332135,-0.066608,-1.265839,-0.291674,-0.118930
2022-01-11,1.444754,0.352579,0.249290,0.476639,0.671232,1.899053,-1.235311,-0.847729,-0.206629,-0.367229
2022-01-12,-0.056476,0.046755,-0.268535,0.801216,0.840221,-0.801038,-2.515982,-0.021828,-0.307847,0.125152
2022-01-13,-0.859048,1.266259,-0.352906,-0.731125,1.156598,2.291418,0.216900,-0.875575,-0.938788,0.514566
2022-01-14,-0.117350,-0.457449,-0.020765,-1.203068,0.392079,-0.531496,-0.133743,-0.520784,0.103775,-0.321907
2022-01-15,-1.399047,-0.272406,-2.126101,0.032495,-0.121085,-0.135477,-0.104105,0.070383,-1.140572,-0.956265
2022-01-16,-0.783011,0.798074,-1.354149,1.889084,-0.443539,-0.496549,-1.242843,0.680719,1.207083,1.240069
2022-01-17,1.056290,-1.214320,-1.976355,-1.920075,-0.630049,-0.641810,0.534273,-0.352852,0.671984,1.761650
2022-01-18,-0.202517,0.704371,1.152346,-1.106747,-0.835373,-0.393517,-0.078723,-1.194720,1.274918,0.393363
2022-01-19,1.067084,-0.305221,-0.747959,-0.014101,1.447091,1.941125,1.055869,0.692731,0.167651,1.377985
2022-01-20,-1.082599,-0.509318,-1.357692,-0.696377,0.857407,0.519700,-1.613312,0.173774,-0.412853,-1.005348
2022-01-21,0.061592,-0.989837,0.277895,0.346916,0.785992,0.611552,2.314980,0.398016,-1.277072,-0.402264
2022-01-22,-0.506389,-0.958178,-1.578886,-0.697938,0.899384,1.751464,-1.153262,-1.825970,1.160622,-1.467012
2022-01-23,1.417904,-0.156112,-0.868738,-0.442487,-1.284336,-1.474336,-0.881757,-0.328446,-0.595529,-1.583207
2022-01-24,1.395944,-0.626695,-1.646414,-1.572462,0.325124,1.792039,-0.384039,0.259432,-0.646970,1.256072
2022-01-25,-0.328876,1.335882,0.719388,-0.899882,0.763293,-0.727435,-0.355017,-0.555317,1.805955,-1.280755
2022-01-26,-0.238987,-0.757977,0.389522,1.253076,1.037421,0.470213,-1.603597,0.592395,1.155556,-2.497350
2022-01-27,2.350410,-2.697955,-1.200424,-0.812904,0.284641,-1.052683,-0.194736,-0.376306,-0.390410,-0.964715
2022-01-28,-0.131216,0.259492,-1.408806,-1.926079,0.901204,1.851336,-2.753542,0.997508,0.305410,0.819264
2022-01-29,0.008791,0.340034,0.411683,-0.763086,1.534772,1.078421,-0.429734,-0.542831,-0.337852,-0.440896
2022-01-30,0.472413,-0.918373,0.449356,1.049956,-1.591981,-0.333242,-0.852773,1.791700,1.259283,0.628725

In [41]:
display(dicionario)

    Linguagem Dinâmica
0      Python      Sim
1        Java      Não
2  JavaScript      Não
3         C++      Não

In [4]:
# Foco em estruturas heterogêneas para utilizá-los ao mesmo tempo

# Análise de Complexibilidade de Algoritmos

### Alguns algoritmos são bons até um tamanho de dados. Porem com grandes quantidades, ele pode não ter um desempenho bom.

#### Teremos uma função que mostrará o quão complexo aquele agoritmo é

#### ***Revisão***

In [5]:
# Variáveis

# tipo int c = 2
# tiplo float d = 1.5
# tipo booleano; True/False
# tipo string; y = 'Python'


# Operadores > < >= <=
# retorna verdadeiro ou falso

# Lógicos
# not and or

# Entrada de dados
# var = int(input('Digite o numero aqui: ')) # caso precise trabalhar com o dado em sim, precisamos fazer o casting
# var = float(input('Digite o numero aqui: ')) # caso precise trabalhar com o dado em sim, precisamos fazer o casting

# Condicional (if/elif/else)
# Repetição (while/for)

In [6]:
for l in lista:
  print(l)

123
15.8
Python
Uma linguagem dinâmica

In [7]:
# Linguagem interpretada: Existe comandos que interpretam linha a linha (Ex: navegador)
# Linguagem compilada: Cria um arq diferente do que foi programado.

In [8]:
lista[0]

123

In [9]:
lista[1]

15.8

In [10]:
lista[2]

'Python'

In [11]:
lista[3]

'Uma linguagem dinâmica'

In [12]:
lista[1:3]

[15.8, 'Python']

In [13]:
lista[-1]

'Uma linguagem dinâmica'

In [14]:
z = [7, 8, 9, 1, 2, 3]
z

[7, 8, 9, 1, 2, 3]

In [15]:
z.append(15)
z

[7, 8, 9, 1, 2, 3, 15]

In [16]:
# EXERCICIO 1: Criar um programa que realize a soma dos valores de 1 até 100. Mostrar o resultado final

soma = 0
for i in range(1, 101, 1):
  soma += i

print(soma)

5050

In [17]:
soma = 0
for i in range(0, 101, 1):
  if i < 101:
    soma += i
    print(soma)

0
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

In [18]:
soma = 0
for i in range(0, 101, 1):
  while i < 101:
    soma += i
    break

print(soma)

5050

In [19]:
# Usando a Fórmula de Gauss: Podemos deixar o código mais otimizado
n = 100
soma = (n * (n + 1) ) / 2
print(soma)

5050.0

In [20]:
print(soma)

5050.0

In [21]:
# EXERCÍCIO 2: Criar um programa que realize a conversão de um número inteiro para um número binário. Mostrar o resultado final

bin(10)

'0b1010'

In [22]:
valor = 24
L = []

while valor >= 1:
  resultado = valor % 2
  print(resultado)
  L.append(resultado)
  valor = valor // 2
  print(valor)

L.reverse()
print(L)

0
12
0
6
0
3
1
1
1
0
[1, 1, 0, 0, 0]

In [23]:
def binario(n):
  if n >= 1:
    binario(n // 2)
  print(n % 2, end='')

valor = 10
binario(valor)

01010

In [24]:
# "converte" n para uma outra base
def converter(n, base):
    if base == 10: # se for base 10, retorna o próprio número
        return n

    result = expoente = 0
    while n > 0:
        n, digito = divmod(n, base)
        result += (10 ** expoente) * digito
        expoente += 1

    return result

print(converter(45, 2))

101101