### Resumo estatística

In [1]:
import pandas as pd
import numpy as np

In [7]:
alturas = np.array([150, 151, 150, 158, 165, 172, 165, 167, 168, 169,
                    188, 187, 206, 155, 150, 147, 158, 164, 168, 172,
                    155, 188, 165, 167, 188, 198, 172, 188, 163, 162,
                    148, 175, 165, 164, 188, 170, 169, 200, 198, 195])

In [8]:
# mostrando a frequência absoluta dos valores inseridos dentro do array
np.unique(alturas, return_counts=True)

(array([147, 148, 150, 151, 155, 158, 162, 163, 164, 165, 167, 168, 169,
        170, 172, 175, 187, 188, 195, 198, 200, 206]),
 array([1, 1, 3, 1, 2, 2, 1, 1, 2, 4, 2, 2, 2, 1, 3, 1, 1, 5, 1, 2, 1, 1],
       dtype=int64))

In [11]:
# Distribuição de Frequência

dicionario = {'inferior':[150, 154, 158, 162, 166, 170],
             'superior':[154, 158, 162, 166, 170, 174],
             'fi':[5, 9, 11, 7, 5, 3]}

In [17]:
alturas2 = pd.DataFrame(dicionario)
alturas2

# achando o valor médio dos intervalos
alturas2['xi'] = (alturas2['superior'] + alturas2['inferior']) / 2

# calculando o valor total de pessoas por intervalo
alturas2['fi.xi'] = (alturas2['fi'] * alturas2['xi'])

# Calculando a Fi (Frequência Acumulada)
alturas2['Fi'] = 0

freq_acumulada = [ ]
somatorio = 0
for linha in alturas2.iterrows():
    # print(linha[1][2]) # realizado para fazer o somatório
    somatorio += linha[1][2]
    freq_acumulada.append(somatorio)
    
alturas2['Fi'] = freq_acumulada
alturas2

   inferior  superior  fi     xi   fi.xi    Fi
0       150       154   5  152.0   760.0   5.0
1       154       158   9  156.0  1404.0  14.0
2       158       162  11  160.0  1760.0  25.0
3       162       166   7  164.0  1148.0  32.0
4       166       170   5  168.0   840.0  37.0
5       170       174   3  172.0   516.0  40.0

In [18]:
# somando os valores das colunas Fi e fi.xi
alturas2['fi'].sum(), alturas2['fi.xi'].sum()

(40, 6428.0)

In [22]:
media = (alturas2['fi.xi'].sum() / alturas2['fi'].sum())
media

160.7

In [24]:
# A moda é calculada sabendo-se o valor que mais se repete
alturas2['fi'].max() # portando este intervalo 158 |- 162 é o que mais se repete

11

#### Medidas de Tendência Central

#### Medidas de Dispersão