In [1]:
import pandas as pd
import numpy as np
import random

In [ ]:
ds = pd.read_csv('./Bases de dados/census.csv')
display(ds.head())

In [ ]:
ds.tail()

### Amostragem aleatória

In [ ]:
df_aleatoria_simples = ds.sample(n = 100, random_state=1)
#random-state sempre vai retornar o mesmo resultado. Idependente do número de vezes
# sempre teremos a mesma amostra
# excelente para replicar o ds

In [ ]:
df_aleatoria_simples.shape

In [ ]:
df_aleatoria_simples.head()

In [ ]:
def amostragemSimples(ds, amostras):
    return ds.sample(n = amostras, random_state=1)

In [ ]:
df_aleatoria_simples = amostragemSimples(ds, 100)
df_aleatoria_simples.shape

In [ ]:
df_aleatoria_simples.head()

### Amostragem Sistemática

população / amostra

In [ ]:
len(ds) // 100

In [ ]:
# sorteando um numero entre 0 e 325
random.seed(1)
random.randint(0, 325)

In [ ]:
# para selecionar sistematicamente uma amostra de 325 em 325 até o final do dataset
np.arange(68, len(ds), step=325)

In [ ]:
def amostragem_sistematica(ds, amostras):
  intervalo = len(ds) // amostras
  random.seed(1)
  inicio = random.randint(0, intervalo)
  indices = np.arange(inicio, len(ds), step = intervalo)
  amostra_sistematica = ds.iloc[indices]
  return amostra_sistematica

In [ ]:
df_amostra_sistematica = amostragem_sistematica(ds, 100)
df_amostra_sistematica.shape

### Amostragem em Grupo

In [ ]:
## definimos os grupos como identificadores

In [ ]:
len(ds) / 10 # gerando 10 grupos, teremos 3256 pessoas por grupo

In [ ]:
grupos = []
id_grupo = 0
contagem = 0 
for _ in ds.iterrows():
    grupos.append(id_grupo)
    contagem += 1
    if contagem > 3256:
        contagem = 0
        id_grupo += 1

In [ ]:
# verificando se fizemos a divisão corretamente
# trás os valores únicos de cada grupo
# e a quantidade existente em cada grupo
np.unique(grupos, return_counts=True)

In [ ]:
np.shape(grupos), ds.shape

In [ ]:
# adicionando a coluna grupo ao dataset

ds['grupo'] = grupos

In [ ]:
ds.head()

In [ ]:
ds.tail()

In [ ]:
#random.seed(1)
random.randint(0, 9)

In [ ]:
# filtramos o grupo que queremos do dataset
df_agrupamento = ds[ds['grupo'] == 7]
df_agrupamento.shape

In [ ]:
# contamos a quantidade de registros existentes no grupo 7
df_agrupamento['grupo'].value_counts()

In [ ]:
def amostragemAgrupamento(ds, numero_grupos):
    intervalo = len(ds) / numero_grupos
    
    grupos = []
    id_grupo = 0
    contagem = 0 
    for _ in ds.iterrows():
        grupos.append(id_grupo)
        contagem += 1
        if contagem > intervalo:
            contagem = 0
            id_grupo += 1
            
    ds['grupo'] = grupos
    grupo_selecionado = random.randint(0, numero_grupos)
    return ds[ds['grupo'] == grupo_selecionado]

In [ ]:
df_amostragem_agrupamento = amostragemAgrupamento(ds, 100)

In [ ]:
df_amostragem_agrupamento.shape, df_amostragem_agrupamento['grupo'].value_counts()

In [ ]:
df_amostragem_agrupamento.head()

### Amostra Estratificada
#### amostra divida por algum tipo de variável
retorna proporcialmente a mesma quantidade de pessoas (homens ou mulheres)

In [ ]:
from sklearn.model_selection import StratifiedShuffleSplit

In [ ]:
ds['income'].value_counts()

In [ ]:
7841 / len(ds), 24720 / len(ds)

In [ ]:
100 / len(ds)

In [ ]:
0.2408095574460244 + 0.7591904425539756

In [ ]:
# estraindo uma amostra estratificada
split = StratifiedShuffleSplit(test_size=0.0030711587481956942)

In [ ]:
for x, y in split.split(ds, ds['income']):
    df_x = ds.iloc[x]
    df_y = ds.iloc[y]

In [ ]:
def amostra_estratificada(ds, percentual):
    split = StratifiedShuffleSplit(test_size=percentual, random_state=1)
    for _, y in split.split(ds, ds['income']):
        df_y = ds.iloc[y]
    return df_y

In [ ]:
df_amostra_estratificada = amostra_estratificada(ds, 0.0030711587481956942)
df_amostra_estratificada.shape

In [ ]:
df_x.shape, df_y.shape

In [ ]:
df_x.head()

In [ ]:
df_y.head()

### Amostragem de Reservatório
Ideal para amostragens, Data Stream.

In [ ]:
stream = []
for i in range(len(ds)):
    stream.append(i)

In [ ]:
print(stream)

In [ ]:
def amostragem_reservatorio(ds, amostras):
  stream = []
  for i in range(len(ds)):
    stream.append(i)

  i = 0
  tamanho = len(ds)

  reservatorio = [0] * amostras
  for i in range(amostras):
    reservatorio[i] = stream[i]

  while i < tamanho:
    j = random.randrange(i + 1)
    if j < amostras:
      reservatorio[j] = stream[i]
    i += 1

  return ds.iloc[reservatorio]

In [ ]:
df_amostragem_reservatorio = amostragem_reservatorio(ds, 100)
df_amostragem_reservatorio.shape

In [ ]:
df_amostragem_reservatorio.head()

### Comparativo entre as amostragens

In [ ]:
ds['age'].mean()

In [ ]:
df_aleatoria_simples['age'].mean()

In [ ]:
39.41 - 38.58164675532078

In [ ]:
df_amostra_sistematica['age'].mean()

In [ ]:
37.57 - 38.58164675532078

In [ ]:
df_amostragem_agrupamento['age'].mean()

In [ ]:
39.47546012269939 - 38.58164675532078

In [ ]:
df_amostragem_reservatorio['age'].mean()

In [ ]:
38.32 - 38.58164675532078 # menor diferença

### Exercício

In [6]:
dataset = pd.read_csv('./Bases de dados/credit_data.csv')

In [7]:
dataset.head()

   i#clientid        income        age         loan  c#default
0           1  66155.925095  59.017015  8106.532131          0
1           2  34415.153966  48.117153  6564.745018          0
2           3  57317.170063  63.108049  8020.953296          0
3           4  42709.534201  45.751972  6103.642260          0
4           5  66952.688845  18.584336  8770.099235          1

In [8]:
dataset.tail()

      i#clientid        income        age         loan  c#default
1995        1996  59221.044874  48.518179  1926.729397          0
1996        1997  69516.127573  23.162104  3503.176156          0
1997        1998  44311.449262  28.017167  5522.786693          1
1998        1999  43756.056605  63.971796  1622.722598          0
1999        2000  69436.579552  56.152617  7378.833599          0